In [2]:
import pandas as pd

data = {'Country' : ['Costa Rica', 'India', 'Braazil'],
        'Capital': ['San José', 'New Delhi', 'Brasilia'],
        'Population':[4500000,1303171035,207847528]}

df = pd.DataFrame(data, columns=['Country','Capital','Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San José     4500000
1       India  New Delhi  1303171035
2     Braazil   Brasilia   207847528

In [5]:
print("Promedio de los numero del vector")
suma=0
media=0
Temp=[]
print("Ingrese la cantidad de Temperaturas")
N=int(input())

for i in range(N):
  temperatura=float(input("Ingrese la temperatura: "))
  Temp.append(temperatura)
  suma=suma+Temp[i]
media=suma/N
print(media)

Promedio de los numero del vector
Ingrese la cantidad de Temperaturas
2
Ingrese la temperatura: 10
Ingrese la temperatura: 20
15.0

In [14]:
import pandas as pd

#df = pd.DataFrame(data, columns=['Country','Capital','Population'])


#mascota = pd.DataFrame(data={'name':['Minimo','Milo','Snoopy','Blanco','LittlePony'],'type':['gato','perro','perro','perro','caballo']}, Index=[71,42,11,90,42])
mascota=pd.DataFrame(
    data={'name':['Minimo','Milo','Snoopy','Blanco','LittlePony'],
          'type':['gato','perro','perro','perro','caballo']
    },
    index=[71,42,11,90,42] 
)


visitas= pd.DataFrame(data={'pet_id':[42,31,71,42,98,42], 'fecha':['2019-03-11','2019-01-29','2020-11-1','2021-07-18','2017-09-30','2021-07-11'],'costo':[2000,5000,1000,5000,6000,10000]})

mascota.index.rename('pet_id',inplace=True)
visitas.index.rename('visit_id',inplace=True)

print(mascota.query('pet_id==71'))

print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())

print(visitas)

print(visitas.sort_values(by='costo',ascending=False))
tienda=pd.merge(mascota, visitas, how='cross')
print(tienda)

          name  type
pet_id
71      Minimo  gato
29000
1000
10000
          pet_id       fecha  costo
visit_id
0             42  2019-03-11   2000
1             31  2019-01-29   5000
2             71   2020-11-1   1000
3             42  2021-07-18   5000
4             98  2017-09-30   6000
5             42  2021-07-11  10000
          pet_id       fecha  costo
visit_id
5             42  2021-07-11  10000
4             98  2017-09-30   6000
1             31  2019-01-29   5000
3             42  2021-07-18   5000
0             42  2019-03-11   2000
2             71   2020-11-1   1000
          name     type  pet_id       fecha  costo
0       Minimo     gato      42  2019-03-11   2000
1       Minimo     gato      31  2019-01-29   5000
2       Minimo     gato      71   2020-11-1   1000
3       Minimo     gato      42  2021-07-18   5000
4       Minimo     gato      98  2017-09-30   6000
5       Minimo     gato      42  2021-07-11  10000
6         Milo    perro      42  2019-03-11   2000
7         Milo    perro      31  2019-01-29   5000
8         Milo    perro      71   2020-11-1   1000
9         Milo    perro      42  2021-07-18   5000
10        Milo    perro      98  2017-09-30   6000
11        Milo    perro      42  2021-07-11  10000
12      Snoopy    perro      42  2019-03-11   2000
13      Snoopy    perro      31  2019-01-29   5000
14      Snoopy    perro      71   2020-11-1   1000
15      Snoopy    perro      42  2021-07-18   5000
16      Snoopy    perro      98  2017-09-30   6000
17      Snoopy    perro      42  2021-07-11  10000
18      Blanco    perro      42  2019-03-11   2000
19      Blanco    perro      31  2019-01-29   5000
20      Blanco    perro      71   2020-11-1   1000
21      Blanco    perro      42  2021-07-18   5000
22      Blanco    perro      98  2017-09-30   6000
23      Blanco    perro      42  2021-07-11  10000
24  LittlePony  caballo      42  2019-03-11   2000
25  LittlePony  caballo      31  2019-01-29   5000
26  LittlePony  caballo      71   2020-11-1   1000
27  LittlePony  caballo      42  2021-07-18   5000
28  LittlePony  caballo      98  2017-09-30   6000
29  LittlePony  caballo      42  2021-07-11  10000

    Nombre  edad    Ciudad Seccion
0      Ana    23  san José       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limón       A
4  Ernesto    21   Heredia       B